#opinion_section {
    background: #2E404D;
 }
 
 #opinion_section .row.op {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
 }
 
 .opinion_top h2 {
    color: #fff;
 }
 
 .opinion_author_text h4,
 .opinion_author_text h6 {
    color: #fff;
 }
 
 .opinion_desc p {
    color: #fff;
    margin: 1.25rem 0rem;
 }
 
 .opinion_quote {
    font-size: 3.125rem;
    color: #18CFAB;
 }
 
 .opinion_author_text h6 {
    margin-top: 0.9375rem;
    margin-bottom: 3.125rem;
 }
 
 .opinion_author_img_border {
    width: 10.3125rem;
    height: 10.3125rem;
    background: rgba(24, 207, 171, 0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 10.3125rem;
    margin: 0 auto;
    padding: 0.625rem;
 }
 
 .opinion_author_img img {
    width: 9.0625rem;
    height: 9.0625rem;
    border: 0.125rem solid #18CFAB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #b2b2b2;
 }
 
 .opinion_slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 4%;
    z-index: 2;
    display: none !important;
 }
 
 .opinion_slider .slick-next {
    position: absolute;
    top: 50%;
    right: 4%;
    z-index: 2;
    display: none !important;
 }
 
 .opinion_nav {
    margin-top: 3.75rem;
    position: relative;
 }
 
 .opinion_nav .slick-slide:focus,
 .opinion_slider .slick-slide:focus {
    outline: none;
 }
 
 .single_opinion {
    padding-top: 1.875rem;
 }
 
 .opinion_author_arrow_bg {
    margin: 0 auto;
    background: rgba(24, 207, 171, 0.2);
    width: 4.375rem;
    height: 4.375rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 6.875rem;
    text-align: center;
    padding: 0.3125rem;
 }
 
 .opinion_author_arrow_img img {
    width: 3.75rem;
    height: 3.75rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0.125rem solid rgba(24, 207, 170, 0);
 }
 
 .opinion_nav .slick-current .opinion_author_arrow_img img {
    border: 0.125rem solid rgb(24, 207, 170);
 }
 
 .opinion_nav .slick-current .opinion_author_arrow_bg {
    margin-top: -0.75rem;
 }
 
 .row.opinion_nav .slick-prev,
 .row.opinion_nav .slick-next,
 .opinion_slider .slick-prev,
 .opinion_slider .slick-next {
    background: rgba(24, 207, 171, 0.00);
    padding: 0.625rem 0.9375rem;
    color: #5d6972;
    border: 0.125rem solid #5d6972;
    font-size: 0.875rem;
    font-weight: 500;
 }
 
 .row.opinion_nav .slick-prev {
    position: absolute;
    top: 50%;
    left: -19%;
 }
 
 .row.opinion_nav .slick-next {
    position: absolute;
    top: 50%;
    right: -14%;
 }
 
 .opinion_nav button.slick-prev:focus,
 .opinion_nav button.slick-next:focus {
    outline: none;
    background: rgb(24, 207, 171);
    border: 0.125rem solid rgba(24, 207, 171, .0);
    color: #fff;
 }
 
 .opinion_slider button.slick-prev:focus,
 .opinion_slider button.slick-next:focus {
    outline: none;
    background: rgb(24, 207, 171);
    border: 0.125rem solid rgba(24, 207, 171, .0);
    color: #fff;
 }