body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.home {
  background-image: url("../images/home-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 74px;
  color: #ffffff;
  height: 100%;
  margin-bottom: 8px;
}

.nav-menu {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9999;
}

.menu {
  display: flex;
}

.link-logo {
  display: flex;
  align-items: center;
  padding: 26px 0;
}

.menu-item {
  padding: 49px 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}

.menu-item:hover {
  color: #18cfab;
  border-bottom: 1px solid #18cfab;
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #18cfab;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 18px 14px;
}

.logo-text {
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.green-text {
  font-weight: bold;
  color: #18cfab;
}

.home-content {
  text-align: center;
  padding: 264px 0 243px;
}

.home-slogan {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.home-main-slogan {
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.home-text {
  font-weight: normal;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 134px;
}

.home-link {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 18px;
  background: #18cfab;
  border-radius: 5px;
  box-shadow: 0px -5px #ffffff;
}

.home-link:nth-child(odd) {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 11px;
  background: #00cbf6;
  border-radius: 5px;
}

.squares {
  display: flex;
  margin-bottom: 83px;
}

.square-item {
  padding: 95px 64px 110px 103px;
  background-color: #1c2a33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.square-item:nth-child(even) {
  padding: 95px 64px 110px 103px;
  background-color: #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
}

.square-text-white {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.svg-squares {
  margin-bottom: 47px;
}

.services {
  text-align: center;
  margin-bottom: 91px;
}

.service-container {
  width: 1477px;
  margin: 0 auto;
}

.services-slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.lines-divider {
  margin-bottom: 69px;
}

.tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.tab-menu-item {
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 15px 20px 17px;
  cursor: pointer;
  transition: 0.5s;
}

.tab-menu-item.active {
  color: #ffffff;
  background: #18cfab;
  position: relative;
}

.tab-menu-item:hover {
  border: 1px solid #18cfab;
}

.tab-menu-item.active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 13px solid #18cfab;
  border-right: 13px solid #18cfab;
  border-top: 13px solid #18cfab;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  background-color: #18cfab;
  position: absolute;
  top: 100%;
  left: 40%;
}

.service-content {
  display: none;
  margin: 0 270px;
}

.service-img {
  float: left;
  margin-right: 12px;
}

.service-description {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 18px;
  color: #777777;
  padding-left: 15px;
  text-align: left;
}

.ready {
  background-image: url("../images/ready-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 127px 0;
  text-align: center;
}

.ready-slogan {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.ready-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin-bottom: 62px;
}

.ready-link {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 18px;
  background: #18cfab;
  border-radius: 5px;
  box-shadow: 0px -5px #ffffff;
}

.works {
  background-color: #e9edef;
  padding-top: 96px;
  padding-bottom: 99px;
}

.works-container {
  text-align: center;

  width: 1128px;
  margin: 0 auto;
}

.works-slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-bottom: 20px;
}

.works-menu-item {
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 15px 20px 17px;
  cursor: pointer;
  transition: 0.5s;
}

.works-menu-item:nth-child(1) {
  padding: 15px 27px 17px;
}

.works-menu-item:hover {
  border: 1px solid #18cfab;
}

.works-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#to-be-show {
  display: none;
}

.works-wrapper2 {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: 0.5s;
}

.work-img {
  height: 100%;
  width: 100%;
}

.cover {
  position: absolute;
  top: -500px;
  left: 0;
  background-color: #e9edef;
  height: 100%;
  transition: 0.5s;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  border-top: #18cfab solid 6px;
}

.works-item {
  position: relative;
  overflow: hidden;
}

.works-item:hover .cover {
  opacity: 1;
  top: 0;
  pointer-events: all;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 47px;
  column-gap: 3px;
  margin-bottom: 24px;
}

.work-icon1 {
  width: 17px;
  height: 17px;
  border: 1px solid #18cfab;
  border-radius: 30px;
  padding: 12px 13px 11px 11px;
  cursor: pointer;
}

.work-icon2 {
  width: 12px;
  height: 11px;
}

.square-cover {
  border-radius: 30px;
  background-color: #18cfab;
  border: 1px solid #18cfab;
  border-radius: 30px;
  height: 43px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cover-slogan {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
}

.cover-text {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}

#load {
  display: inline-flex;
}

.load-more {
  margin-top: 70px;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 18px;
  background: #18cfab;
  border-radius: 5px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.cross {
  margin-right: 15px;
}

.news {
  width: 1158px;
  margin: 0 auto;
  text-align: center;
  padding-top: 82px;
  padding-bottom: 129px;
}

.news-slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 68px;
  gap: 43px 35px;
}

.news-item {
  cursor: pointer;
}

.news-title {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  margin-right: 20px;
  transition: 0.5s;
}

.author,
.comments {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
}

.news-info {
  display: flex;
  justify-content: space-evenly;
}

.img-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #203e38;
  z-index: 10;
  padding: 6px 15px;
  transition: 0.5s;
}

.day,
.month {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.news-item:hover .badge {
  background-color: #18cfab;
}

.news-item:hover .news-title {
  color: #18cfab;
}

.feedback {
  background-image: url("../images/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 98px;
  padding-bottom: 99px;
  color: #ffffff;
  height: 100%;
  margin-bottom: 108px;
  text-align: center;
}

.feedback-slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}

.single-feedback {
  padding-top: 66px;
  width: 1160px;
  margin: 0 auto;
}

.feedback-text {
  margin-top: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 37px;
}

.position {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 38px;
}

.feedback-shown {
  border: 10px solid #1fdab540;
  border-radius: 50%;
}

.user-list {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  gap: 38px;
  align-items: center;
}

.feedback-small-img {
  border: 5px solid #1fdab540;
  border-radius: 50%;
  cursor: pointer;
}

/* .feedback-small-img:nth-child(4) {
  position: relative;
  bottom: 10px;
} */

#opinion_section {
  background: #2E404D;
}

#opinion_section .row.op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.opinion_top h2 {
  color: #fff;
}

.opinion_author_text h4,
.opinion_author_text h6 {
  color: #fff;
}

.opinion_desc p {
  color: #fff;
  margin: 1.25rem 0rem;
}

.opinion_quote {
  font-size: 3.125rem;
  color: #18CFAB;
}

.opinion_author_text h6 {
  margin-top: 0.9375rem;
  margin-bottom: 3.125rem;
}

.opinion_author_img_border {
  width: 10.3125rem;
  height: 10.3125rem;
  background: rgba(24, 207, 171, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 10.3125rem;
  margin: 0 auto;
  padding: 0.625rem;
}

.opinion_author_img img {
  width: 9.0625rem;
  height: 9.0625rem;
  border: 0.125rem solid #18CFAB;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #b2b2b2;
}

.opinion_slider .slick-prev {
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 2;
  display: none !important;
}

.opinion_slider .slick-next {
  position: absolute;
  top: 50%;
  right: 4%;
  z-index: 2;
  display: none !important;
}

.opinion_nav {
  margin-top: 3.75rem;
  position: relative;
}

.opinion_nav .slick-slide:focus,
.opinion_slider .slick-slide:focus {
  outline: none;
}

.single_opinion {
  padding-top: 1.875rem;
}

.opinion_author_arrow_bg {
  margin: 0 auto;
  background: rgba(24, 207, 171, 0.2);
  width: 4.375rem;
  height: 4.375rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 6.875rem;
  text-align: center;
  padding: 0.3125rem;
}

.opinion_author_arrow_img img {
  width: 3.75rem;
  height: 3.75rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.125rem solid rgba(24, 207, 170, 0);
}

.opinion_nav .slick-current .opinion_author_arrow_img img {
  border: 0.125rem solid rgb(24, 207, 170);
}

.opinion_nav .slick-current .opinion_author_arrow_bg {
  margin-top: -0.75rem;
}

.row.opinion_nav .slick-prev,
.row.opinion_nav .slick-next,
.opinion_slider .slick-prev,
.opinion_slider .slick-next {
  background: rgba(24, 207, 171, 0.00);
  /* padding: 0.625rem 0.9375rem; */
  color: #5d6972;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
}

.row.opinion_nav .slick-prev {
  position: absolute;
  top: 50%;
  left: 0%;
}

.row.opinion_nav .slick-next {
  position: absolute;
  top: 50%;
  right: 0%;
}

.opinion_nav button.slick-prev:focus,
.opinion_nav button.slick-next:focus {
  outline: none;
  background: rgb(24, 207, 171);
  /* border: 0.125rem solid rgba(24, 207, 171, .0); */
  color: #fff;
}

.opinion_slider button.slick-prev:focus,
.opinion_slider button.slick-next:focus {
  outline: none;
  background: rgb(24, 207, 171);
  /* border: 0.125rem solid rgba(24, 207, 171, .0); */
  color: #fff;
}

.arrow {
  border: 1px solid #bbbbbb;
  padding: 8px 10px;
  transition: 0.5s;
  cursor: pointer;
}

.arrow:hover {
  border: 1px solid transparent;
  background-color: #18cfab;
}

.arrow:hover path {
  fill: #ffffff;
}

.gallery {
  text-align: center;
}

.gallery-slogan {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.gallery-lines {
  margin-bottom: 83px;
}

.gallery-wrapper {
  width: 1160px;
  margin: 0 auto 52px auto;
  display: flex;
  gap: 18px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.inside-wrapper {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 5px;
}

.last-img {
  width: 363px;
}

.gallery-btn {
  margin-top: 52px;
  margin-bottom: 80px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-cover {
  position: absolute;
  top: 0px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  transition: 0.5s;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.galery-icon {
  background-color: #18cfab;
  padding: 10px;
  cursor: pointer;
}

.gallery-item:hover .gallery-cover {
  opacity: 1;
}

.footer {
  background-color: #22353f;
  text-align: center;
  padding: 48px 0;
  margin-top: 67px;
}

.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
